<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.10.0" targetFramework="net45" />
  <package id="FodyCecil" version="2.0.7" targetFramework="net45" developmentDependency="true" />
  <package id="NUnitTestAdapter.WithFramework" version="2.0.0" targetFramework="net45" />
</packages>